---
http_interactions:
- request:
    method: get
    uri: http://ea-rbwd-staging.epimorphics.net/id/bathing-water/ukc2102-03600?_properties=latestSampleAssessment.sampleDateTime.inXSDDateTime,latestSampleAssessment.sampleYear.ordinalYear,latestSampleAssessment.escherichiaColiCount.*,latestSampleAssessment.intestinalEnterococciCount.*,latestProfile.*,latestComplianceAssessment.sampleYear.ordinalYear,latestRiskPrediction.*
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 303
      message: See Other
    headers:
      Content-Type:
      - application/json
      Location:
      - http://ea-rbwd-staging.epimorphics.net/doc/bathing-water/ukc2102-03600?_properties=latestSampleAssessment.sampleDateTime.inXSDDateTime%2ClatestSampleAssessment.sampleYear.ordinalYear%2ClatestSampleAssessment.escherichiaColiCount.%2A%2ClatestSampleAssessment.intestinalEnterococciCount.%2A%2ClatestProfile.%2A%2ClatestComplianceAssessment.sampleYear.ordinalYear%2ClatestRiskPrediction.%2A
      X-Response-Id:
      - '95'
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 19 Feb 2018 11:33:08 GMT
- request:
    method: get
    uri: http://ea-rbwd-staging.epimorphics.net/doc/bathing-water/ukc2102-03600?_properties=latestSampleAssessment.sampleDateTime.inXSDDateTime,latestSampleAssessment.sampleYear.ordinalYear,latestSampleAssessment.escherichiaColiCount.*,latestSampleAssessment.intestinalEnterococciCount.*,latestProfile.*,latestComplianceAssessment.sampleYear.ordinalYear,latestRiskPrediction.*
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Location:
      - http://ea-rbwd-staging.epimorphics.net/doc/bathing-water/ukc2102-03600.json?_properties=latestSampleAssessment.sampleDateTime.inXSDDateTime%2ClatestSampleAssessment.sampleYear.ordinalYear%2ClatestSampleAssessment.escherichiaColiCount.%2A%2ClatestSampleAssessment.intestinalEnterococciCount.%2A%2ClatestProfile.%2A%2ClatestComplianceAssessment.sampleYear.ordinalYear%2ClatestRiskPrediction.%2A
      Content-Type:
      - application/json
      Etag:
      - '"86107d508bca8f5f-gzip"'
      X-Response-Id:
      - '89'
    body:
      encoding: ASCII-8BIT
      string: |
        { "format" : "linked-data-api", "version" : "0.2", "result" : {"_about" : "http://ea-rbwd-staging.epimorphics.net/doc/bathing-water/ukc2102-03600.json?_properties=latestSampleAssessment.sampleDateTime.inXSDDateTime%2ClatestSampleAssessment.sampleYear.ordinalYear%2ClatestSampleAssessment.escherichiaColiCount.%2A%2ClatestSampleAssessment.intestinalEnterococciCount.%2A%2ClatestProfile.%2A%2ClatestComplianceAssessment.sampleYear.ordinalYear%2ClatestRiskPrediction.%2A", "definition" : "http://ea-rbwd-staging.epimorphics.net/meta/doc/bathing-water/_eubwid.json?_properties=latestSampleAssessment.sampleDateTime.inXSDDateTime%2ClatestSampleAssessment.sampleYear.ordinalYear%2ClatestSampleAssessment.escherichiaColiCount.%2A%2ClatestSampleAssessment.intestinalEnterococciCount.%2A%2ClatestProfile.%2A%2ClatestComplianceAssessment.sampleYear.ordinalYear%2ClatestRiskPrediction.%2A", "extendedMetadataVersion" : "http://ea-rbwd-staging.epimorphics.net/doc/bathing-water/ukc2102-03600.json?_properties=latestSampleAssessment.sampleDateTime.inXSDDateTime%2ClatestSampleAssessment.sampleYear.ordinalYear%2ClatestSampleAssessment.escherichiaColiCount.%2A%2ClatestSampleAssessment.intestinalEnterococciCount.%2A%2ClatestProfile.%2A%2ClatestComplianceAssessment.sampleYear.ordinalYear%2ClatestRiskPrediction.%2A&_metadata=all", "primaryTopic" : {"_about" : "http://environment.data.gov.uk/id/bathing-water/ukc2102-03600", "appointedSewerageUndertaker" : {"_about" : "http://business.data.gov.uk/id/company/02366703", "companyProfile" : {"_about" : "http://business.data.gov.uk/companies/profile/02366703", "label" : [{"_value" : "Companies House profile for Northumbrian Water Limited", "_lang" : "en"}
                  ]}
                , "name" : {"_value" : "Northumbrian Water Limited", "_lang" : "en"}
              }
              , "country" : {"_about" : "http://data.ordnancesurvey.co.uk/id/country/england", "name" : {"_value" : "England", "_lang" : "en"}
              }
              , "district" : [{"_about" : "http://data.ordnancesurvey.co.uk/id/7000000000043674", "name" : {"_value" : "Northumberland", "_lang" : "en"}
              }
              , "http://statistics.data.gov.uk/id/statistical-geography/E06000048"], "envelope" : {"_about" : "http://location.data.gov.uk/so/common/Envelope/bwpf.eaew/ukc2102-03600:1", "label" : [{"_value" : "Map bounds for Spittal", "_lang" : "en"}
                ]}
              , "eubwidNotation" : "ukc2102-03600", "latestComplianceAssessment" : {"_about" : "http://environment.data.gov.uk/data/bathing-water-quality/compliance-rBWD/point/03600/year/2016", "complianceClassification" : {"_about" : "http://environment.data.gov.uk/def/bwq-cc-2015/3", "name" : {"_value" : "Sufficient", "_lang" : "en"}
                }
                , "sampleYear" : {"_about" : "http://reference.data.gov.uk/id/year/2016", "ordinalYear" : 2016}
              }
              , "latestProfile" : {"_about" : "http://environment.data.gov.uk/data/bathing-water-profile/ukc2102-03600/2017:1", "applicableYear" : "http://reference.data.gov.uk/id/year/2017", "bathingWater" : "http://environment.data.gov.uk/id/bathing-water/ukc2102-03600", "bathingWaterDescription" : {"_value" : "Spittal Beach is a gently sloping resort beach approximately one kilometre long situated immediately south of the mouth of the River Tweed.", "_lang" : "en"}
                , "controllerName" : "Northumberland", "countyName" : {"_value" : "Northumberland", "_lang" : "en"}
                , "esoOutfallsStatement" : {"_value" : "A combined sewer overflow (CSO) which could discharge onto the beach during heavy rainfall was removed in early 2012.  Other CSOs discharge to the estuary and contribute to pollution at the bathing water when river flows are high during wet weather.", "_lang" : "en"}
                , "historyStatement" : {"_value" : "Since 1995, the Environment Agency have worked closely with Northumbrian Water to identify and deliver significant investment in the sewage infrastructure around this bathing water.  Most recently, an investigation by Northumbrian water into the effects of their systems on bathing water quality has led to improvements at 2 CSOs.", "_lang" : "en"}
                , "interval" : "http://environment.data.gov.uk/data/bathing-water-profile/ukc2102-03600/2017:1/intervals/interval", "investigationsStatement" : {"_value" : "The Environment Agency's investigations have been aimed at identifying non water company sources of pollution that may be affecting the bathing water so that we can implement measures to address them.  We believe that agricultural sources in the Tweed catchment may be significant, particularly in wet weather, although we have not found evidence pointing to any particularly important source.", "_lang" : "en"}
                , "isVersionOf" : "http://environment.data.gov.uk/data/bathing-water-profile-endurant/ukc2102-03600/2017", "label" : [{"_value" : "2017 Bathing Water Profile for Spittal", "_lang" : "en"}
                ], "localAuthority" : "http://location.data.gov.uk/id/au/localAuthority/ons:gss/E06000048-03600-2017", "macroAlgaeStatement" : {"_value" : "Environment Agency research suggests this bathing water does not have a history of large amounts of seaweed (macro algae).", "_lang" : "en"}
                , "misconnectionsStatement" : {"_value" : "Modern sewerage systems have two separate systems, one takes foul sewage to sewage treatment, the other takes rainwater runoff through surface water drains to rivers, lakes and the sea. Misconnections occur when waste water pipes are plumbed into surface water drains instead of the foul water sewerage system. This can give rise to pollution when the waste water is discharged directly to the environment through the surface water drain. For example, a washing machine or toilet may be incorrectly plumbed so that it discharges to the surface drain rather than the foul sewage drain.", "_lang" : "en"}
                , "name" : {"_value" : "2017 Bathing Water Profile for Spittal", "_lang" : "en"}
                , "phytoplanktonStatement" : {"_value" : "Environment Agency research suggests this bathing water does not have a history of phytoplankton blooms.", "_lang" : "en"}
                , "pollutionRiskForecastStatement" : {"_value" : "This bathing water is subject to short term pollution. Short term pollution is caused when heavy rainfall washes faecal material into the sea from livestock, sewage and urban drainage via rivers and streams.  At this site the risk of encountering reduced water quality increases after rainfall and typically returns to normal after 1-3 days. The Environment Agency makes daily pollution risk forecasts based on rainfall patterns and will issue a pollution risk warning if heavy rainfall occurs to enable bathers to avoid periods of increased risk. \nThe Environment Agency works to reduce the sources of this pollution through pollution prevention measures, work with agriculture and water companies.\n13 warnings advising against swimming due to an increase risk of short term pollution were issued in 2016 for Spittal bathing water. These warnings were issued because of the effects of heavy rain on the water quality.", "_lang" : "en"}
                , "pollutionRiskForecasting" : {"_value" : "true", "_datatype" : "boolean"}
                , "samplingFrequency" : 20, "seasonFinishDate" : {"_value" : "2017-09-30", "_datatype" : "date"}
                , "seasonInterval" : "http://reference.data.gov.uk/id/gregorian-interval/2017-05-01T00:00:00/P152DT23H59M59S", "seasonStartDate" : {"_value" : "2017-05-01", "_datatype" : "date"}
                , "signMeasuresSummary" : {"_value" : "Natural England's Catchment Sensitive Farming initiative and Scottish Environment Protection Agency (SEPA) are working to reduce diffuse pollution from agricultural sources.", "_lang" : "en"}
                , "signPRFSummary" : {"_value" : "This bathing water is subject to short term pollution. The Environment Agency makes daily pollution risk forecasts based on rainfall patterns. A pollution risk warning is issued if heavy rainfall occurs to enable bathers to avoid periods when bathing water quality may be reduced. This may last between 1-3 days. Last year warnings were issued on 13 days.", "_lang" : "en"}
                , "signPollutionSourcesStatement" : {"_value" : "This bathing water may be affected by pollution in run off from agricultural land, urban areas, and occasional discharges from storm overflows carried by the River Tweed. During or after periods of heavy rainfall the impact from these sources of pollution can increase the risk of reduced bathing water quality.", "_lang" : "en"}
                , "source" : "http://environment.data.gov.uk/sources/bwq/eaew/input/ea_profile_proposal_with_signage_v2-2018-02-12_10-33-42_669-0255.csv#row=0002", "standardLanguageCollection" : "http://environment.data.gov.uk/data/bathing-water-profile-standard-language/2017-03600:1", "streamsRiversStatement" : {"_value" : "The Tweed Estuary discharges to the sea at the north end of the bathing water. Diffuse run off from agricultural land and upstream settlements affects the bacteriological quality of the river. After heavy rain, this can have a short-term impact on bathing water quality.  High river flows also shorten residence times in the estuary, exacerbating the impact of discharges from the sewerage system in and around Berwick.", "_lang" : "en"}
                , "stwOutfallsStatement" : {"_value" : "Sewage from Berwick, Spittal and Tweedmouth is treated at a sewage works that discharges to the Tweed estuary to the west of the town.", "_lang" : "en"}
                , "type" : ["http://environment.data.gov.uk/def/bathing-water-profile/BathingWaterProfile"], "versionString" : "1", "visiblePollutionStatement" : {"_value" : "Environment Agency samplers make observations of litter present on the beach at every visit, this includes assessments of sewage debris, litter and tar. At Spittal for the four year (2013-2016) assessment period where data is available, sewage debris was not assessed as being sufficient to be objectionable, but was observed as being present on 1% of visits. Litter was not assessed as being sufficient to be objectionable, but was observed as being present on 95% of visits. Tarry residue was not noted at this site.", "_lang" : "en"}
                , "webResImage" : "http://environment.data.gov.uk/media/image/bathing-water-profile/ukc2102-03600_1-webres.jpg", "workingWithFarmersStatement" : {"_value" : "The catchment of the River Tweed is largely agricultural with a mixture of arable and livestock farming. During and after periods of heavy rainfall, runoff from agricultural areas will be greatly increased. The quality of the bathing water may be adversely affected as a result of such events.  The limited data collected on sources of bacteria suggests that livestock may be a significant source, particularly when river flows are high. We have engaged with the local farming community but livestock numbers in the local catchment are low suggesting a more diffuse contribution from a wider catchment.", "_lang" : "en"}
                , "zoiDescription" : {"_value" : "The River Tweed rises over 100km to the west and drains a catchment of approx 4000 sq km. The lower part of the catchment which influences bathing water quality is predominantly devoted to arable and livestock farming. The historic town of Berwick-upon-Tweed and its satellites, Spittal and Tweedmouth, lie at the mouth of the estuary.", "_lang" : "en"}
              }
              , "latestRiskPrediction" : {"_about" : "http://environment.data.gov.uk/data/bathing-water-quality/stp-risk-prediction/point/03600/date/20171006-144034", "comment" : {"_value" : "No water quality warning issued", "_lang" : "en"}
                , "dataset" : ["http://environment.data.gov.uk/data/bathing-water-quality/eaew/stp-risk-prediction", "http://environment.data.gov.uk/data/bathing-water-quality/stp-risk-prediction"], "expiresAt" : {"_value" : "2017-10-07T08:29:00", "_datatype" : "dateTime"}
                , "predictedAt" : {"_value" : "2017-10-06T08:30:00", "_datatype" : "dateTime"}
                , "predictedOn" : {"_value" : "2017-10-06", "_datatype" : "date"}
                , "publishedAt" : {"_value" : "2017-10-06T14:40:34", "_datatype" : "dateTime"}
                , "riskLevel" : {"_about" : "http://environment.data.gov.uk/def/bwq-stp/normal", "name" : {"_value" : "normal", "_lang" : "en"}
                }
                , "source" : "http://environment.data.gov.uk/sources/bwq/eaew/input/forecasts-publishTesting-2017-10-06_14-40-34_772-0584.csv#row=0156", "stp_bathingWater" : "http://environment.data.gov.uk/id/bathing-water/ukc2102-03600", "stp_samplingPoint" : {"_about" : "http://location.data.gov.uk/so/ef/SamplingPoint/bwsp.eaew/03600", "easting" : 400800.0, "lat" : 55.7568683458198, "long" : -1.9888393795735, "name" : {"_value" : "Sampling point at Spittal", "_lang" : "en"}
                  , "northing" : 651500.0}
                , "type" : ["http://environment.data.gov.uk/def/bwq-stp/RiskPrediction"]}
              , "latestSampleAssessment" : {"_about" : "http://environment.data.gov.uk/data/bathing-water-quality/in-season/sample/point/03600/date/20160919/time/100100/recordDate/20160919", "escherichiaColiCount" : 10, "intestinalEnterococciCount" : 10, "sampleDateTime" : {"_about" : "http://reference.data.gov.uk/id/gregorian-instant/2016-09-19T10:01:00", "inXSDDateTime" : {"_value" : "2016-09-19T10:01:00", "_datatype" : "dateTime"}
                }
                , "sampleYear" : {"_about" : "http://reference.data.gov.uk/id/year/2016", "ordinalYear" : 2016}
              }
              , "name" : {"_value" : "Spittal", "_lang" : "en"}
              , "regionalOrganization" : {"_about" : "http://reference.data.gov.uk/id/public-body/environment-agency/unit/north-east-north-east-office", "name" : {"_value" : "North East", "_lang" : "en"}
              }
              , "sameAs" : "http://environment.data.gov.uk/id/bathing-water/spittal", "samplingPoint" : {"_about" : "http://location.data.gov.uk/so/ef/SamplingPoint/bwsp.eaew/03600", "easting" : 400800.0, "lat" : 55.7568683458198, "long" : -1.9888393795735, "name" : {"_value" : "Sampling point at Spittal", "_lang" : "en"}
                , "northing" : 651500.0}
              , "sedimentTypesPresent" : "http://environment.data.gov.uk/def/bathing-water/sand-sediment", "type" : ["http://environment.data.gov.uk/def/bathing-water/BathingWater", "http://environment.data.gov.uk/def/bathing-water/CoastalBathingWater"], "uriSet" : {"_about" : "http://environment.data.gov.uk/id/bathing-water/", "label" : [{"_value" : "Bathing waters monitored by the Environment Agency for England and Wales.", "_lang" : "en"}
                ]}
              , "waterQualityImpactedByHeavyRain" : true, "yearDesignated" : "http://reference.data.gov.uk/id/year/1988", "zoneOfInfluence" : {"_about" : "http://location.data.gov.uk/so/ef/ZoneOfInfluence/bwzoi.eaew/ukc2102-03600:1", "name" : {"_value" : "Zone of influence at Spittal", "_lang" : "en"}
              }
            }
            , "type" : ["http://purl.org/linked-data/api/vocab#ItemEndpoint", "http://purl.org/linked-data/api/vocab#Page"]}
        }
  recorded_at: Mon, 19 Feb 2018 11:33:08 GMT
recorded_with: VCR 4.0.0
