---
http_interactions:
- request:
    method: get
    uri: http://ea-rbwd-staging.epimorphics.net/doc/bathing-water?_pageSize=600&_properties=latestSampleAssessment.sampleDateTime.inXSDDateTime,latestSampleAssessment.sampleYear.ordinalYear,latestSampleAssessment.escherichiaColiCount.*,latestSampleAssessment.intestinalEnterococciCount.*,latestProfile.*,latestComplianceAssessment.sampleYear.ordinalYear,latestRiskPrediction.*&county.name=Somerset
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Location:
      - http://ea-rbwd-staging.epimorphics.net/doc/bathing-water.json?_pageSize=600&county.name=Somerset&_properties=latestSampleAssessment.sampleDateTime.inXSDDateTime%2ClatestSampleAssessment.sampleYear.ordinalYear%2ClatestSampleAssessment.escherichiaColiCount.%2A%2ClatestSampleAssessment.intestinalEnterococciCount.%2A%2ClatestProfile.%2A%2ClatestComplianceAssessment.sampleYear.ordinalYear%2ClatestRiskPrediction.%2A
      Content-Type:
      - application/json
      Etag:
      - '"805217f993ad8a8e-gzip"'
      X-Response-Id:
      - '94'
    body:
      encoding: ASCII-8BIT
      string: |
        { "format" : "linked-data-api", "version" : "0.2", "result" : {"_about" : "http://ea-rbwd-staging.epimorphics.net/doc/bathing-water.json?_pageSize=600&county.name=Somerset&_properties=latestSampleAssessment.sampleDateTime.inXSDDateTime%2ClatestSampleAssessment.sampleYear.ordinalYear%2ClatestSampleAssessment.escherichiaColiCount.%2A%2ClatestSampleAssessment.intestinalEnterococciCount.%2A%2ClatestProfile.%2A%2ClatestComplianceAssessment.sampleYear.ordinalYear%2ClatestRiskPrediction.%2A", "definition" : "http://ea-rbwd-staging.epimorphics.net/meta/doc/bathing-water.json?county.name=Somerset&_properties=latestSampleAssessment.sampleDateTime.inXSDDateTime%2ClatestSampleAssessment.sampleYear.ordinalYear%2ClatestSampleAssessment.escherichiaColiCount.%2A%2ClatestSampleAssessment.intestinalEnterococciCount.%2A%2ClatestProfile.%2A%2ClatestComplianceAssessment.sampleYear.ordinalYear%2ClatestRiskPrediction.%2A", "extendedMetadataVersion" : "http://ea-rbwd-staging.epimorphics.net/doc/bathing-water.json?_pageSize=600&county.name=Somerset&_properties=latestSampleAssessment.sampleDateTime.inXSDDateTime%2ClatestSampleAssessment.sampleYear.ordinalYear%2ClatestSampleAssessment.escherichiaColiCount.%2A%2ClatestSampleAssessment.intestinalEnterococciCount.%2A%2ClatestProfile.%2A%2ClatestComplianceAssessment.sampleYear.ordinalYear%2ClatestRiskPrediction.%2A&_metadata=all", "first" : "http://ea-rbwd-staging.epimorphics.net/doc/bathing-water.json?_pageSize=600&_page=0&county.name=Somerset&_properties=latestSampleAssessment.sampleDateTime.inXSDDateTime%2ClatestSampleAssessment.sampleYear.ordinalYear%2ClatestSampleAssessment.escherichiaColiCount.%2A%2ClatestSampleAssessment.intestinalEnterococciCount.%2A%2ClatestProfile.%2A%2ClatestComplianceAssessment.sampleYear.ordinalYear%2ClatestRiskPrediction.%2A", "isPartOf" : {"_about" : "http://ea-rbwd-staging.epimorphics.net/doc/bathing-water.json?county.name=Somerset&_properties=latestSampleAssessment.sampleDateTime.inXSDDateTime%2ClatestSampleAssessment.sampleYear.ordinalYear%2ClatestSampleAssessment.escherichiaColiCount.%2A%2ClatestSampleAssessment.intestinalEnterococciCount.%2A%2ClatestProfile.%2A%2ClatestComplianceAssessment.sampleYear.ordinalYear%2ClatestRiskPrediction.%2A", "definition" : "http://ea-rbwd-staging.epimorphics.net/meta/doc/bathing-water.json?county.name=Somerset&_properties=latestSampleAssessment.sampleDateTime.inXSDDateTime%2ClatestSampleAssessment.sampleYear.ordinalYear%2ClatestSampleAssessment.escherichiaColiCount.%2A%2ClatestSampleAssessment.intestinalEnterococciCount.%2A%2ClatestProfile.%2A%2ClatestComplianceAssessment.sampleYear.ordinalYear%2ClatestRiskPrediction.%2A", "hasPart" : "http://ea-rbwd-staging.epimorphics.net/doc/bathing-water.json?_pageSize=600&county.name=Somerset&_properties=latestSampleAssessment.sampleDateTime.inXSDDateTime%2ClatestSampleAssessment.sampleYear.ordinalYear%2ClatestSampleAssessment.escherichiaColiCount.%2A%2ClatestSampleAssessment.intestinalEnterococciCount.%2A%2ClatestProfile.%2A%2ClatestComplianceAssessment.sampleYear.ordinalYear%2ClatestRiskPrediction.%2A", "type" : ["http://purl.org/linked-data/api/vocab#ListEndpoint"]}
            , "items" : [{"_about" : "http://environment.data.gov.uk/id/bathing-water/ukk2305-34900", "appointedSewerageUndertaker" : {"_about" : "http://business.data.gov.uk/id/company/02366648", "companyProfile" : {"_about" : "http://business.data.gov.uk/companies/profile/02366648", "label" : [{"_value" : "Companies House profile for Wessex Water Services Limited", "_lang" : "en"}
                  ]}
                , "name" : {"_value" : "Wessex Water Services Limited", "_lang" : "en"}
              }
              , "country" : {"_about" : "http://data.ordnancesurvey.co.uk/id/country/england", "name" : {"_value" : "England", "_lang" : "en"}
              }
              , "county" : {"_about" : "http://data.ordnancesurvey.co.uk/id/7000000000010578", "name" : {"_value" : "Somerset", "_lang" : "en"}
              }
              , "district" : [{"_about" : "http://data.ordnancesurvey.co.uk/id/7000000000010687", "name" : {"_value" : "West Somerset", "_lang" : "en"}
              }
              , "http://statistics.data.gov.uk/id/statistical-geography/E07000191"], "envelope" : {"_about" : "http://location.data.gov.uk/so/common/Envelope/bwpf.eaew/ukk2305-34900:1", "label" : [{"_value" : "Map bounds for Porlock Weir", "_lang" : "en"}
                ]}
              , "eubwidNotation" : "ukk2305-34900", "latestComplianceAssessment" : {"_about" : "http://environment.data.gov.uk/data/bathing-water-quality/compliance-rBWD/point/34900/year/2016", "complianceClassification" : {"_about" : "http://environment.data.gov.uk/def/bwq-cc-2015/1", "name" : {"_value" : "Excellent", "_lang" : "en"}
                }
                , "sampleYear" : {"_about" : "http://reference.data.gov.uk/id/year/2016", "ordinalYear" : 2016}
              }
              , "latestProfile" : {"_about" : "http://environment.data.gov.uk/data/bathing-water-profile/ukk2305-34900/2017:1", "applicableYear" : "http://reference.data.gov.uk/id/year/2017", "bathingWater" : "http://environment.data.gov.uk/id/bathing-water/ukk2305-34900", "bathingWaterDescription" : {"_value" : "Porlock Bay is between Hurlestone Point and Porlock Weir in Somerset overlooking the Bristol Channel. Porlock Weir is a small settlement with a harbour about two and a half kilometres west of the village of Porlock. It has a pebble beach, approximately one kilometre wide, backed by Porlock Ridge and Saltmarsh to the east.", "_lang" : "en"}
                , "controllerName" : "West Somerset", "countyName" : {"_value" : "Somerset", "_lang" : "en"}
                , "esoOutfallsStatement" : {"_value" : "There is an emergency overflow from Porlock Weir pumping station that discharges to the bathing water 230m from the Environment Agency monitoring point. The operation of the overflow can lead to a drop in bathing water quality.  This bathing water is included in the Surfers Against Sewage \u201cSafer Seas Service\u201d. This service can alert you to Combined Storm Sewer Overflow discharges via a phone App and in addition, it includes the Environment Agency Pollution Risk Forecast warnings where they are available. Further details of the service can be found at - http://www.sas.org.uk/safer-seas-service/", "_lang" : "en"}
                , "historyStatement" : {"_value" : "In the past this bathing water was affected by continuous water company discharges of untreated sewage from Porlock Weir, Porlock, and Bossington. The Wessex Water sewage treatment scheme for the Porlock area was completed between 1995 and 2000. The scheme included a sewage treatment works (STW) at Porlock which provides secondary treatment and microfiltration. The Porlock Weir, Porlock, and Bossington discharges were transferred to Porlock STW in 1998, and the outfalls retained as pumping station emergency overflows/combined sewer overflows.", "_lang" : "en"}
                , "interval" : "http://environment.data.gov.uk/data/bathing-water-profile/ukk2305-34900/2017:1/intervals/interval", "isVersionOf" : "http://environment.data.gov.uk/data/bathing-water-profile-endurant/ukk2305-34900/2017", "label" : [{"_value" : "2017 Bathing Water Profile for Porlock Weir", "_lang" : "en"}
                ], "localAuthority" : "http://location.data.gov.uk/id/au/localAuthority/ons:gss/E07000191-34900-2017", "macroAlgaeStatement" : {"_value" : "This bathing water does not have a history of large amounts of seaweed (macro algae).", "_lang" : "en"}
                , "name" : {"_value" : "2017 Bathing Water Profile for Porlock Weir", "_lang" : "en"}
                , "phytoplanktonStatement" : {"_value" : "Phytoplankton (microscopic algae) naturally increase in number at certain times of the year. This process is known as a phytoplankton bloom. This bathing water does not have a history of phytoplankton blooms.", "_lang" : "en"}
                , "pollutionRiskForecasting" : {"_value" : "false", "_datatype" : "boolean"}
                , "samplingFrequency" : 6, "seasonFinishDate" : {"_value" : "2017-09-30", "_datatype" : "date"}
                , "seasonInterval" : "http://reference.data.gov.uk/id/gregorian-interval/2017-05-01T00:00:00/P152DT23H59M59S", "seasonStartDate" : {"_value" : "2017-05-01", "_datatype" : "date"}
                , "signPollutionSourcesStatement" : {"_value" : "Bathing water quality is influenced by the Hawkcombe stream, and may reduce during or after periods of heavy rainfall due to occasional discharges from a storm overflow.", "_lang" : "en"}
                , "source" : "http://environment.data.gov.uk/sources/bwq/eaew/input/ea_profile_proposal_with_signage_v2-2018-02-12_10-33-42_669-0255.csv#row=0374", "standardLanguageCollection" : "http://environment.data.gov.uk/data/bathing-water-profile-standard-language/2017-34900:1", "streamsRiversStatement" : {"_value" : "Streams and rivers are typically affected by human sewage, animal slurry and runoff from roads. The Hawkcombe Stream enters the sea near this beach, and does not affect the bathing water quality.", "_lang" : "en"}
                , "stwOutfallsStatement" : {"_value" : "The outfall from Porlock STW discharges to the sea 1.9km from the shore of this bathing water. This discharge is treated using microfiltration and designed to protect bathing water quality.", "_lang" : "en"}
                , "type" : ["http://environment.data.gov.uk/def/bathing-water-profile/BathingWaterProfile"], "versionString" : "1", "visiblePollutionStatement" : {"_value" : "Environment Agency samplers make observations of litter present on the beach at every visit, this includes assessments of sewage debris, litter and tar. At Porlock Weir for the four year (2013-2016) assessment period where data is available, sewage debris was not noted at this site. Litter was not assessed as being sufficient to be objectionable, but was observed as being present on 66% of visits. Tarry residue was not noted at this site.", "_lang" : "en"}
                , "webResImage" : "http://environment.data.gov.uk/media/image/bathing-water-profile/ukk2305-34900_1-webres.jpg", "zoiDescription" : {"_value" : "The catchment surrounding Porlock Weir is approximately 5,700 hectares. The Hawkcombe Stream is approximately seven and a half kilometres long. It flows through a steep sided wooded valley, through the village of Porlock and enters the sea at the eastern end of the beach. \nThe rivers Horner and Aller are approximately eight and a half kilometres and six and a half kilometres long respectively, and rise as several small streams on the northern edge of Exmoor National Park. The rivers meet in the village of Bossington before entering Porlock Bay near Hurlestone point approximately 2.7km to the east of the Environment Agency monitoring point. The catchment is agricultural, with around 20 farms.", "_lang" : "en"}
              }
              , "latestSampleAssessment" : {"_about" : "http://environment.data.gov.uk/data/bathing-water-quality/in-season/sample/point/34900/date/20160921/time/103400/recordDate/20160921", "escherichiaColiCount" : 10, "intestinalEnterococciCount" : 18, "sampleDateTime" : {"_about" : "http://reference.data.gov.uk/id/gregorian-instant/2016-09-21T10:34:00", "inXSDDateTime" : {"_value" : "2016-09-21T10:34:00", "_datatype" : "dateTime"}
                }
                , "sampleYear" : {"_about" : "http://reference.data.gov.uk/id/year/2016", "ordinalYear" : 2016}
              }
              , "name" : {"_value" : "Porlock Weir", "_lang" : "en"}
              , "regionalOrganization" : {"_about" : "http://reference.data.gov.uk/id/public-body/environment-agency/unit/south-west-south-west-office", "name" : {"_value" : "South West", "_lang" : "en"}
              }
              , "sameAs" : "http://environment.data.gov.uk/id/bathing-water/porlock-weir", "samplingPoint" : {"_about" : "http://location.data.gov.uk/so/ef/SamplingPoint/bwsp.eaew/34900", "easting" : 286521.0, "lat" : 51.2190192938815, "long" : -3.6262649577776, "name" : {"_value" : "Sampling point at Porlock Weir", "_lang" : "en"}
                , "northing" : 147903.0}
              , "sedimentTypesPresent" : "http://environment.data.gov.uk/def/bathing-water/shingle-sediment", "type" : ["http://environment.data.gov.uk/def/bathing-water/BathingWater", "http://environment.data.gov.uk/def/bathing-water/CoastalBathingWater"], "uriSet" : {"_about" : "http://environment.data.gov.uk/id/bathing-water/", "label" : [{"_value" : "Bathing waters monitored by the Environment Agency for England and Wales.", "_lang" : "en"}
                ]}
              , "waterQualityImpactedByHeavyRain" : true, "yearDesignated" : "http://reference.data.gov.uk/id/year/1988", "zoneOfInfluence" : {"_about" : "http://location.data.gov.uk/so/ef/ZoneOfInfluence/bwzoi.eaew/ukk2305-34900:1", "name" : {"_value" : "Zone of influence at Porlock Weir", "_lang" : "en"}
              }
            }
            , {"_about" : "http://environment.data.gov.uk/id/bathing-water/ukk2305-35000", "appointedSewerageUndertaker" : {"_about" : "http://business.data.gov.uk/id/company/02366648", "companyProfile" : {"_about" : "http://business.data.gov.uk/companies/profile/02366648", "label" : [{"_value" : "Comp[...]
