---
http_interactions:
- request:
    method: get
    uri: http://ea-rbwd-staging.epimorphics.net/doc/bathing-water?_pageSize=600&_properties=latestSampleAssessment.sampleDateTime.inXSDDateTime,latestSampleAssessment.sampleYear.ordinalYear,latestSampleAssessment.escherichiaColiCount.*,latestSampleAssessment.intestinalEnterococciCount.*,latestProfile.*,latestComplianceAssessment.sampleYear.ordinalYear,latestRiskPrediction.*&district.name=North%20Somerset
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Location:
      - http://ea-rbwd-staging.epimorphics.net/doc/bathing-water.json?_pageSize=600&district.name=North+Somerset&_properties=latestSampleAssessment.sampleDateTime.inXSDDateTime%2ClatestSampleAssessment.sampleYear.ordinalYear%2ClatestSampleAssessment.escherichiaColiCount.%2A%2ClatestSampleAssessment.intestinalEnterococciCount.%2A%2ClatestProfile.%2A%2ClatestComplianceAssessment.sampleYear.ordinalYear%2ClatestRiskPrediction.%2A
      Content-Type:
      - application/json
      Etag:
      - '"346f84d93355ad9d-gzip"'
      X-Response-Id:
      - '107'
    body:
      encoding: ASCII-8BIT
      string: |
        { "format" : "linked-data-api", "version" : "0.2", "result" : {"_about" : "http://ea-rbwd-staging.epimorphics.net/doc/bathing-water.json?_pageSize=600&district.name=North+Somerset&_properties=latestSampleAssessment.sampleDateTime.inXSDDateTime%2ClatestSampleAssessment.sampleYear.ordinalYear%2ClatestSampleAssessment.escherichiaColiCount.%2A%2ClatestSampleAssessment.intestinalEnterococciCount.%2A%2ClatestProfile.%2A%2ClatestComplianceAssessment.sampleYear.ordinalYear%2ClatestRiskPrediction.%2A", "definition" : "http://ea-rbwd-staging.epimorphics.net/meta/doc/bathing-water.json?district.name=North+Somerset&_properties=latestSampleAssessment.sampleDateTime.inXSDDateTime%2ClatestSampleAssessment.sampleYear.ordinalYear%2ClatestSampleAssessment.escherichiaColiCount.%2A%2ClatestSampleAssessment.intestinalEnterococciCount.%2A%2ClatestProfile.%2A%2ClatestComplianceAssessment.sampleYear.ordinalYear%2ClatestRiskPrediction.%2A", "extendedMetadataVersion" : "http://ea-rbwd-staging.epimorphics.net/doc/bathing-water.json?_pageSize=600&district.name=North+Somerset&_properties=latestSampleAssessment.sampleDateTime.inXSDDateTime%2ClatestSampleAssessment.sampleYear.ordinalYear%2ClatestSampleAssessment.escherichiaColiCount.%2A%2ClatestSampleAssessment.intestinalEnterococciCount.%2A%2ClatestProfile.%2A%2ClatestComplianceAssessment.sampleYear.ordinalYear%2ClatestRiskPrediction.%2A&_metadata=all", "first" : "http://ea-rbwd-staging.epimorphics.net/doc/bathing-water.json?_pageSize=600&district.name=North+Somerset&_page=0&_properties=latestSampleAssessment.sampleDateTime.inXSDDateTime%2ClatestSampleAssessment.sampleYear.ordinalYear%2ClatestSampleAssessment.escherichiaColiCount.%2A%2ClatestSampleAssessment.intestinalEnterococciCount.%2A%2ClatestProfile.%2A%2ClatestComplianceAssessment.sampleYear.ordinalYear%2ClatestRiskPrediction.%2A", "isPartOf" : {"_about" : "http://ea-rbwd-staging.epimorphics.net/doc/bathing-water.json?district.name=North+Somerset&_properties=latestSampleAssessment.sampleDateTime.inXSDDateTime%2ClatestSampleAssessment.sampleYear.ordinalYear%2ClatestSampleAssessment.escherichiaColiCount.%2A%2ClatestSampleAssessment.intestinalEnterococciCount.%2A%2ClatestProfile.%2A%2ClatestComplianceAssessment.sampleYear.ordinalYear%2ClatestRiskPrediction.%2A", "definition" : "http://ea-rbwd-staging.epimorphics.net/meta/doc/bathing-water.json?district.name=North+Somerset&_properties=latestSampleAssessment.sampleDateTime.inXSDDateTime%2ClatestSampleAssessment.sampleYear.ordinalYear%2ClatestSampleAssessment.escherichiaColiCount.%2A%2ClatestSampleAssessment.intestinalEnterococciCount.%2A%2ClatestProfile.%2A%2ClatestComplianceAssessment.sampleYear.ordinalYear%2ClatestRiskPrediction.%2A", "hasPart" : "http://ea-rbwd-staging.epimorphics.net/doc/bathing-water.json?_pageSize=600&district.name=North+Somerset&_properties=latestSampleAssessment.sampleDateTime.inXSDDateTime%2ClatestSampleAssessment.sampleYear.ordinalYear%2ClatestSampleAssessment.escherichiaColiCount.%2A%2ClatestSampleAssessment.intestinalEnterococciCount.%2A%2ClatestProfile.%2A%2ClatestComplianceAssessment.sampleYear.ordinalYear%2ClatestRiskPrediction.%2A", "type" : ["http://purl.org/linked-data/api/vocab#ListEndpoint"]}
            , "items" : [{"_about" : "http://environment.data.gov.uk/id/bathing-water/ukk1202-35700", "appointedSewerageUndertaker" : {"_about" : "http://business.data.gov.uk/id/company/02366648", "companyProfile" : {"_about" : "http://business.data.gov.uk/companies/profile/02366648", "label" : [{"_value" : "Companies House profile for Wessex Water Services Limited", "_lang" : "en"}
                  ]}
                , "name" : {"_value" : "Wessex Water Services Limited", "_lang" : "en"}
              }
              , "country" : {"_about" : "http://data.ordnancesurvey.co.uk/id/country/england", "name" : {"_value" : "England", "_lang" : "en"}
              }
              , "district" : [{"_about" : "http://data.ordnancesurvey.co.uk/id/7000000000025504", "name" : {"_value" : "North Somerset", "_lang" : "en"}
              }
              , "http://statistics.data.gov.uk/id/statistical-geography/E06000024"], "envelope" : {"_about" : "http://location.data.gov.uk/so/common/Envelope/bwpf.eaew/ukk1202-35700:1", "label" : [{"_value" : "Map bounds for Weston-super-Mare Uphill Slipway", "_lang" : "en"}
                ]}
              , "eubwidNotation" : "ukk1202-35700", "latestComplianceAssessment" : {"_about" : "http://environment.data.gov.uk/data/bathing-water-quality/compliance-rBWD/point/35700/year/2016", "complianceClassification" : {"_about" : "http://environment.data.gov.uk/def/bwq-cc-2015/3", "name" : {"_value" : "Sufficient", "_lang" : "en"}
                }
                , "sampleYear" : {"_about" : "http://reference.data.gov.uk/id/year/2016", "ordinalYear" : 2016}
              }
              , "latestProfile" : {"_about" : "http://environment.data.gov.uk/data/bathing-water-profile/ukk1202-35700/2017:1", "applicableYear" : "http://reference.data.gov.uk/id/year/2017", "bathingWater" : "http://environment.data.gov.uk/id/bathing-water/ukk1202-35700", "bathingWaterDescription" : {"_value" : "Weston-super-Mare Uphill Slipway is on the Somerset coast overlooking the Bristol Channel. It is a sandy beach resort approximately 1.2 kilometres wide, next to the mouth of the River Axe. The Bristol Channel has a large tidal range and at low water mud can become exposed.", "_lang" : "en"}
                , "controllerName" : "North Somerset", "countyName" : {"_value" : "North Somerset", "_lang" : "en"}
                , "esoOutfallsStatement" : {"_value" : "There is an emergency/storm overflow from Weston-super-Mare STW pumping station, that discharges to the sea at Black Rock 540m from the Environment Agency monitoring point. The operation of the overflow can lead to a drop in water quality in the sea around Weston-super-Mare. The increased storm water storage capacity at the sewage works, completed in April 2013, should reduce the number of times this overflow spills in the bathing season.  This bathing water is included in the Surfers Against Sewage \u201cSafer Seas Service\u201d. This service can alert you to Combined Storm Sewer Overflow discharges via a phone App and in addition, it includes the Environment Agency Pollution Risk Forecast warnings where they are available. Further details of the service can be found at - http://www.sas.org.uk/safer-seas-service/", "_lang" : "en"}
                , "historyStatement" : {"_value" : "In the past this bathing water was affected by the outfall from the Weston-super-Mare sewage treatment works (STW) that discharges at Black Rock. The Wessex Water sewage treatment scheme for Weston-super-Mare, which provides secondary treatment and ultraviolet (UV) disinfection, was completed in 2000. Additional improvements were made to the sewerage system to reduce the frequency of storm and emergency overflows, particularly at the Black Rock outfall. Further improvements in sewage treatment standards and a large increase in storm water storage capacity at Weston-super-Mare were completed in April in 2013. \nThe Environment Agency work with Wessex Water to carry out a review of sewerage performance within the Weston-super-Mare area, and will continue to make recommendations for further improvements to protect and improve the bathing water quality.", "_lang" : "en"}
                , "interval" : "http://environment.data.gov.uk/data/bathing-water-profile/ukk1202-35700/2017:1/intervals/interval", "investigationsStatement" : {"_value" : "Since 2007 the Environment Agency have carried out extensive additional monitoring in the River Axe at Brean Cross sluice and in the Uphill Great Rhyne at Uphill sluice alongside the Environment Agency routine bathing water monitoring at Weston-super-Mare. The Environment Agency have used a DNA tracing technique to identify if sources of faecal pollution are animal or human. Results suggest that there is a contribution from human and animal sources. The animal contribution is possibly more significant in the River Axe, and the human contribution more significant in the Uphill Great Rhyne. \nBetween 2009 and 2013 the Environment Agency have walked the catchment in wet and dry weather conditions, and sampled various tributaries of the Uphill Great Rhyne.  In 2011, the Environment Agency identified a chronic sewer leak into the Uphill Great Rhyne, promptly fixed by Wessex Water. The aim of these investigations is to help pinpoint polluters and pollution problems, and improve bathing water quality. Monitoring of both rivers continues and signs of contamination are investigated.", "_lang" : "en"}
                , "isVersionOf" : "http://environment.data.gov.uk/data/bathing-water-profile-endurant/ukk1202-35700/2017", "label" : [{"_value" : "2017 Bathing Water Profile for Weston-super-Mare Uphill Slipway", "_lang" : "en"}
                ], "localAuthority" : "http://location.data.gov.uk/id/au/localAuthority/ons:gss/E06000024-35700-2017", "localAuthorityStatement" : {"_value" : "Weston-super-Mare is served by a combined (surface and sewer) system. Surface water can flow into the River Axe and Uphill Great Rhyne from urban areas and highway drains. This can affect bathing water quality, particularly after periods of rainfall. Wessex Water have regularly inspected and sampled surface water outfalls.", "_lang" : "en"}
                , "macroAlgaeStatement" : {"_value" : "The bathing water can have some seaweed on the beach, depending on tide and the weather.", "_lang" : "en"}
                , "misconnectionsStatement" : {"_value" : "Wrongly connected domestic waste water pipes can also affect the water quality of the River Axe and Uphill Great Rhyne and therefore the bathing water. We have checked the local sewerage system for misconnections. We will continue to work with Wessex Water to identify and rectify any problems.\nModern sewerage systems have two separate systems, one takes foul sewage to sewage treatment, the other takes rainwater runoff through surface water drains to rivers, lakes and the sea. Misconnections occur when waste water pipes are plumbed into surface water drains instead of the foul water sewerage system. This can give rise to pollution when the waste water is discharged directly to the environment through the surface water drain. For example, a washing machine or toilet may be incorrectly plumbed so that it discharges to the surface drain rather than the foul sewage drain.", "_lang" : "en"}
                , "name" : {"_value" : "2017 Bathing Water Profile for Weston-super-Mare Uphill Slipway", "_lang" : "en"}
                , "phytoplanktonStatement" : {"_value" : "Phytoplankton increase in number at certain times of the year and this process is known as a phytoplankton bloom. These blooms can discolour the water or form as a foam on the water. The Environment Agency research shows this bathing water does not have a history of phytoplankton blooms, however, a light brown foam sometimes appears at this beach which is due to the break down of macro algae.", "_lang" : "en"}
                , "pollutionRiskForecastStatement" : {"_value" : "This bathing water is subject to short term pollution. Short term pollution is caused when heavy rainfall washes faecal material into the sea from livestock, sewage and urban drainage via rivers and streams.  At this site the risk of encountering reduced water quality increases after rainfall and typically returns to normal after 1-3 days. The Environment Agency makes daily pollution risk forecasts based on rainfall patterns and will issue a pollution risk warning if heavy rainfall occurs to enable bathers to avoid periods of increased risk. \nThe Environment Agency works to reduce the sources of this pollution through pollution prevention measures, work with agriculture and water companies.\n41 warnings advising against swimming due to an increase risk of short term pollution were issued in 2016 for Weston-super-Mare Uphill Slipway bathing water. These warnings were issued because of the effects of heavy rain on the water quality.", "_lang" : "en"}
                , "pollutionRiskForecasting" : {"_value" : "true", "_datatype" : "boolean"}
                , "samplingFrequency" : 20, "seasonFinishDate" : {"_value" : "2017-09-30", "_datatype" : "date"}
                , "seasonInterval" : "http://reference.data.gov.uk/id/gregorian-interval/2017-05-01T00:00:00/P152DT23H59M59S", "seasonStartDate" : {"_value" : "2017-05-01", "_datatype" : "date"}
                , "signAlgaeStatement" : {"_value" : "This bathing water beach often has patches of seaweed (macroalgae) and the bathing water can be affected by occasional blooms of phytoplankton (microscopic algae) which are not harmful, but can result in the water appearing discoloured or as foam forming on the water.", "_lang" : "en"}
                , "signPRFSummary" : {"_value" : "This bathing water is subject to short term pollution. The Environment Agency makes daily pollution risk forecasts based on rainfall patterns. A pollution risk warning is issued if heavy rainfall occurs to enable bathers to avoid periods when bathing water quality may be reduced. This may last between 1-3 days. Last year warnings were issued on 41 days.", "_lang" : "en"}
                , "signPollutionSourcesStatement" : {"_value" : "Bathing water quality is influenced by the River Axe and Uphill Great Rhyne, and may reduce during or after periods of heavy rainfall due to run-off from agricultural land, urban areas, and occasional discharges from a storm overflow.", "_lang" : "en"}
                , "source" : "http://environment.data.gov.uk/sources/bwq/eaew/input/ea_profile_proposal_with_signage_v2-2018-02-12_10-33-42_669-0255.csv#row=0381", "standardLanguageCollection" : "http://environment.data.gov.uk/data/bathing-water-profile-standard-language/2017-35700:1", "stepChangeStatement" : {"_value" : "A step change  improvement in water quality has been indentified in 2013 from 30/04/2013 at Weston-super-Mare Uphill Slipway due to improvements made to Water plc assets. Any monitoring samples collected prior to this date shall not be used for classification.", "_lang" : "en"}
                , "streamsRiversStatement" : {"_value" : "The River Axe flows into the sea at the southern end of the beach. There are also two small drains that flow into the sea near the River Axe.  The Uphill Great Rhyne, controlled by a sluice gate, joins the River Axe approximately 500m before it reaches the sea. The Environment Agency has monitored the water quality of the Uphill Great Rhyne and the River Axe since 2007. During and after periods of heavy rainfall, agricultural and urban runoff to the River Axe and the Uphill Great Rhyne increases, impacting bathing water quality at Uphill Slipway.", "_lang" : "en"}
                , "stwOutfallsStatement" : {"_value" : "The outfall from Weston-super-Mare STW, discharges to the sea at Black Rock 540 metres (m) from the Environment Agency monitoring point. This discharge is disinfected and designed to protect bathing water quality.", "_lang" : "en"}
                , "type" : ["http://environment.data.gov.uk/def/bathing-water-profile/BathingWaterProfile"], "versionString" : "1", "visiblePollutionStatement" : {"_value" : "Environment Agency samplers make observations of litter present on the beach at every visit, this includes assessments of sewage debris, litter and tar. At Weston-super-Mare Uphill Slipway for the four year (2013-2016) assessment period where data is available, sewage debris was not assessed as being sufficient to be objectionable, but was observed as being present on 4% of visits. Litter was not assessed as being sufficient to be objectionable, but was observed as being present on 81% of visits. Tarry residue was not noted at this site.", "_lang" : "en"}
                , "webResImage" : "http://environment.data.gov.uk/media/image/bathing-water-profile/ukk1202-35700_1-webres.jpg", "workingWithFarmersStatement" : {"_value" : "There are more than 50 farms in the bathing water catchment. During and after periods of heavy rainfall, runoff from agricultural land is greatly increased, and the quality of the bathing water can be reduced. \nThe Environment Agency are working with Natural England and farmers on Catchment Sensitive Farming programmes to encourage better farming practices and improve water quality in the surrounding areas.", "_lang" : "en"}
                , "workingWithIndustryStatement" : {"_value" : "The Uphill Great Rhyne flows (mostly underground) through a large commercial estate which includes some light industry. If any concerns arise, the Environment Agency will investigate and request immediate remedial action from those responsible.", "_lang" : "en"}
                , "workingWithPrivateOwnersStatement" : {"_value" : "There are caravan parks and houses that are not on the main sewerage system and have private sewage treatment arrangements. If any concerns arise, the Environment Agency will investigate and request immediate remedial action from those responsible.", "_lang" : "en"}
                , "zoiDescription" : {"_value" : "The catchment surrounding Weston-super-Mare Uphill Slipway is approximately 24,000 hectares, and includes the River Axe and its tributaries the Cheddar Yeo and Lox Yeo. These watercourses rise from limestone springs on the Mendip Hills at Wookey Hole Caves, and flow through the Somerset Levels and Moors to the sea in Weston Bay just north of Brean Down. \nThe rivers are interconnected in several places by drainage channels (known locally as rhynes) controlled by sluices, forming a very complex artificial drainage system. The River Axe is also controlled by a sluice gate approximately 2.7km from the bathing water. The sluices affect the amount of freshwater entering the sea from the River Axe. The majority of the land is used for large scale agriculture, with more than 50 farms.", "_lang" : "en"}
              }
              , "latestRiskPrediction" : {"_about" : "http://environment.data.gov.uk/data/bathing-water-quality/stp-risk-prediction/point/35700/date/20171006-144034", "comment" : {"_value" : "No water quality warning issued", "_lang" : "en"}
                , "dataset" : ["http://environment.data.gov.uk/data/bathing-water-quality/eaew/stp-risk-prediction", "http://environment.data.gov.uk/data/bathing-water-quality/stp-risk-prediction"], "expiresAt" : {"_value" : "2017-10-07T08:29:00", "_datatype" : "dateTime"}
                , "predictedAt" : {"_value" : "2017-10-06T08:30:00", "_datatype" : "dateTime"}
                , "predictedOn" : {"_value" : "2017-10-06", "_datatype" : "date"}
                , "publishedAt" : {"_value" : "2017-10-06T14:40:34", "_datatype" : "dateTime"}
                , "riskLevel" : {"_about" : "http://environment.data.gov.uk/def/bwq-stp/normal", "name" : {"_value" : "normal", "_lang" : "en"}
                }
                , "source" : "http://environment.data.gov.uk/sources/bwq/eaew/input/forecasts-publishTesting-2017-10-06_14-40-34_772-0584.csv#row=0134", "stp_bathingWater" : "http://environment.data.gov.uk/id/bathing-water/ukk1202-35700", "stp_samplingPoint" : {"_about" : "http://location.data.gov.uk/so/ef/SamplingPoint/bwsp.eaew/35700", "easting" : 331092.0, "lat" : 51.3247204685577, "long" : -2.99031890971833, "name" : {"_value" : "Sampling point at Weston-super-Mare Uphill Slipway", "_lang" : "en"}
                  , "northing" : 158867.0}
                , "type" : ["http://environment.data.gov.uk/def/bwq-stp/RiskPrediction"]}
              , "latestSampleAssessment" : {"_about" : "http://environment.data.gov.uk/data/bathing-water-quality/in-season/sample/point/35700/date/20160922/time/112500/recordDate/20161005", "escherichiaColiCount" : 136, "intestinalEnterococciCount" : 82, "sampleDateTime" : {"_about" : "http://reference.data.gov.uk/id/gregorian-instant/2016-09-22T11:25:00", "inXSDDateTime" : {"_value" : "2016-09-22T11:25:00", "_datatype" : "dateTime"}
                }
                , "sampleYear" : {"_about" : "http://reference.data.gov.uk/id/year/2016", "ordinalYear" : 2016}
              }
              , "name" : {"_value" : "Weston-super-Mare Uphill Slipway", "_lang" : "en"}
              , "regionalOrganization" : {"_about" : "http://reference.data.gov.uk/id/public-body/environment-agency/unit/south-west-south-west-office", "name" : {"_value" : "South West", "_lang" : "en"}
              }
              , "sameAs" : "http://environment.data.gov.uk/id/bathing-water/weston-super-mare-uphill-slipway", "samplingPoint" : {"_about" : "http://location.data.gov.uk/so/ef/SamplingPoint/bwsp.eaew/35700", "easting" : 331092.0, "lat" : 51.3247204685577, "long" : -2.99031890971833, "name" : {"_value" : "Sampling point at Weston-super-Mare Uphill Slipway", "_lang" : "en"}
                , "northing" : 158867.0}
              , "sedimentTypesPresent" : ["http://environment.data.gov.uk/def/bathing-water/mud-sediment", "http://environment.data.gov.uk/def/bathing-water/sand-sediment"], "type" : ["http://environment.data.gov.uk/def/bathing-water/BathingWater", "http://environment.data.gov.uk/def/bathing-water/TransitionalBathingWater"], "uriSet" : {"_about" : "http://environment.data.gov.uk/id/bathing-water/", "label" : [{"_value" : "Bathing waters monitored by the Environment Agency for England and Wales.", "_lang" : "en"}
                ]}
              , "waterQualityImpactedByHeavyRain" : true, "yearDesignated" : "http://reference.data.gov.uk/id/year/1988", "zoneOfInfluence" : {"_about" : "http://location.data.gov.uk/so/ef/ZoneOfInfluence/bwzoi.eaew/ukk1202-35700:1", "name" : {"_value" : "Zone of influence at Weston-super-Mare Uphill Slipway", "_lang" : "en"}
              }
            }
            , {"_about" : "http://environment.data.gov.uk/id/bathing-water/ukk1202-35800", "appointedSewerageUndertaker" : {"_about" : "http://business.data.gov.uk/id/company/02366648", "companyProfile" : {"_about" : "http://business.data.gov.uk/companies/profile/02366648", "label" [...]
