---
http_interactions:
- request:
    method: get
    uri: http://ea-rbwd-staging.epimorphics.net/id/bathing-water/ukk2204-19900?_properties=latestSampleAssessment.sampleDateTime.inXSDDateTime,latestSampleAssessment.sampleYear.ordinalYear,latestSampleAssessment.escherichiaColiCount.*,latestSampleAssessment.intestinalEnterococciCount.*,latestProfile.*,latestComplianceAssessment.sampleYear.ordinalYear,latestRiskPrediction.*
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 303
      message: See Other
    headers:
      Content-Type:
      - application/json
      Location:
      - http://ea-rbwd-staging.epimorphics.net/doc/bathing-water/ukk2204-19900?_properties=latestSampleAssessment.sampleDateTime.inXSDDateTime%2ClatestSampleAssessment.sampleYear.ordinalYear%2ClatestSampleAssessment.escherichiaColiCount.%2A%2ClatestSampleAssessment.intestinalEnterococciCount.%2A%2ClatestProfile.%2A%2ClatestComplianceAssessment.sampleYear.ordinalYear%2ClatestRiskPrediction.%2A
      X-Response-Id:
      - '18'
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 27 Feb 2018 17:41:08 GMT
- request:
    method: get
    uri: http://ea-rbwd-staging.epimorphics.net/doc/bathing-water/ukk2204-19900?_properties=latestSampleAssessment.sampleDateTime.inXSDDateTime,latestSampleAssessment.sampleYear.ordinalYear,latestSampleAssessment.escherichiaColiCount.*,latestSampleAssessment.intestinalEnterococciCount.*,latestProfile.*,latestComplianceAssessment.sampleYear.ordinalYear,latestRiskPrediction.*
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Location:
      - http://ea-rbwd-staging.epimorphics.net/doc/bathing-water/ukk2204-19900.json?_properties=latestSampleAssessment.sampleDateTime.inXSDDateTime%2ClatestSampleAssessment.sampleYear.ordinalYear%2ClatestSampleAssessment.escherichiaColiCount.%2A%2ClatestSampleAssessment.intestinalEnterococciCount.%2A%2ClatestProfile.%2A%2ClatestComplianceAssessment.sampleYear.ordinalYear%2ClatestRiskPrediction.%2A
      Content-Type:
      - application/json
      Etag:
      - '"f013a40dd15ae0f3-gzip"'
      X-Response-Id:
      - '19'
    body:
      encoding: ASCII-8BIT
      string: |
        { "format" : "linked-data-api", "version" : "0.2", "result" : {"_about" : "http://ea-rbwd-staging.epimorphics.net/doc/bathing-water/ukk2204-19900.json?_properties=latestSampleAssessment.sampleDateTime.inXSDDateTime%2ClatestSampleAssessment.sampleYear.ordinalYear%2ClatestSampleAssessment.escherichiaColiCount.%2A%2ClatestSampleAssessment.intestinalEnterococciCount.%2A%2ClatestProfile.%2A%2ClatestComplianceAssessment.sampleYear.ordinalYear%2ClatestRiskPrediction.%2A", "definition" : "http://ea-rbwd-staging.epimorphics.net/meta/doc/bathing-water/_eubwid.json?_properties=latestSampleAssessment.sampleDateTime.inXSDDateTime%2ClatestSampleAssessment.sampleYear.ordinalYear%2ClatestSampleAssessment.escherichiaColiCount.%2A%2ClatestSampleAssessment.intestinalEnterococciCount.%2A%2ClatestProfile.%2A%2ClatestComplianceAssessment.sampleYear.ordinalYear%2ClatestRiskPrediction.%2A", "extendedMetadataVersion" : "http://ea-rbwd-staging.epimorphics.net/doc/bathing-water/ukk2204-19900.json?_properties=latestSampleAssessment.sampleDateTime.inXSDDateTime%2ClatestSampleAssessment.sampleYear.ordinalYear%2ClatestSampleAssessment.escherichiaColiCount.%2A%2ClatestSampleAssessment.intestinalEnterococciCount.%2A%2ClatestProfile.%2A%2ClatestComplianceAssessment.sampleYear.ordinalYear%2ClatestRiskPrediction.%2A&_metadata=all", "primaryTopic" : {"_about" : "http://environment.data.gov.uk/id/bathing-water/ukk2204-19900", "appointedSewerageUndertaker" : {"_about" : "http://business.data.gov.uk/id/company/02366648", "companyProfile" : {"_about" : "http://business.data.gov.uk/companies/profile/02366648", "label" : [{"_value" : "Companies House profile for Wessex Water Services Limited", "_lang" : "en"}
                  ]}
                , "name" : {"_value" : "Wessex Water Services Limited", "_lang" : "en"}
              }
              , "country" : {"_about" : "http://data.ordnancesurvey.co.uk/id/country/england", "name" : {"_value" : "England", "_lang" : "en"}
              }
              , "county" : {"_about" : "http://data.ordnancesurvey.co.uk/id/7000000000014362", "name" : {"_value" : "Dorset", "_lang" : "en"}
              }
              , "district" : [{"_about" : "http://data.ordnancesurvey.co.uk/id/7000000000014363", "name" : {"_value" : "Purbeck", "_lang" : "en"}
              }
              , "http://statistics.data.gov.uk/id/statistical-geography/E07000051"], "envelope" : {"_about" : "http://location.data.gov.uk/so/common/Envelope/bwpf.eaew/ukk2204-19900:1", "label" : [{"_value" : "Map bounds for Kimmeridge Bay", "_lang" : "en"}
                ]}
              , "eubwidNotation" : "ukk2204-19900", "latestComplianceAssessment" : {"_about" : "http://environment.data.gov.uk/data/bathing-water-quality/compliance-rBWD/point/19900/year/2016", "complianceClassification" : {"_about" : "http://environment.data.gov.uk/def/bwq-cc-2015/1", "name" : {"_value" : "Excellent", "_lang" : "en"}
                }
                , "sampleYear" : {"_about" : "http://reference.data.gov.uk/id/year/2016", "ordinalYear" : 2016}
              }
              , "latestProfile" : {"_about" : "http://environment.data.gov.uk/data/bathing-water-profile/ukk2204-19900/2017:1", "applicableYear" : "http://reference.data.gov.uk/id/year/2017", "bathingWater" : "http://environment.data.gov.uk/id/bathing-water/ukk2204-19900", "bathingWaterDescription" : {"_value" : "Kimmeridge Bay is on the Dorset coast, and is part of the Purbeck Heritage Coast. It is a remote, sheltered bay of cobbles and pebbles, approximately one kilometre wide, with rock flats backed by cliffs.", "_lang" : "en"}
                , "controllerName" : "Purbeck", "countyName" : {"_value" : "Dorset", "_lang" : "en"}
                , "historyStatement" : {"_value" : "The village of Kimmeridge was originally unsewered with local homes discharging to the Kimmeridge Stream. The Wessex Water first time rural sewerage scheme for Kimmeridge was completed in 2002. Sewage is pumped to Corfe sewage treatment works which provides secondary treatment.", "_lang" : "en"}
                , "interval" : "http://environment.data.gov.uk/data/bathing-water-profile/ukk2204-19900/2017:1/intervals/interval", "investigationsStatement" : {"_value" : "Investigations to identify and address sources of contamination of the streams that enter the sea at Kimmeridge Bay are ongoing. Dye tracing studies by the Environment Agency have demonstrated that the input from the Kimmeridge Stream is likely to be the main cause of poor bathing water quality. Further work is needed to understand the importance of the large accumulations of seaweed on the beach at Kimmeridge Bay. Previous studies have shown that accumulations of seaweed can contribute to bathing water quality problems.", "_lang" : "en"}
                , "isVersionOf" : "http://environment.data.gov.uk/data/bathing-water-profile-endurant/ukk2204-19900/2017", "label" : [{"_value" : "2017 Bathing Water Profile for Kimmeridge Bay", "_lang" : "en"}
                ], "localAuthority" : "http://location.data.gov.uk/id/au/localAuthority/ons:gss/E07000051-19900-2017", "localAuthorityStatement" : {"_value" : "Surface water can flow into the Kimmeridge streams from outfalls and highway drains. This can affect stream water quality, particularly after periods of rainfall.", "_lang" : "en"}
                , "macroAlgaeStatement" : {"_value" : "This bathing water has a history of large amounts of seaweed (macro algae), particularly towards the end of September.", "_lang" : "en"}
                , "name" : {"_value" : "2017 Bathing Water Profile for Kimmeridge Bay", "_lang" : "en"}
                , "phytoplanktonStatement" : {"_value" : "Phytoplankton (microscopic algae) naturally increase in number at certain times of the year. This process is known as a phytoplankton bloom. This bathing water does not have a history of phytoplankton blooms.", "_lang" : "en"}
                , "pollutionRiskForecastStatement" : {"_value" : "This bathing water is subject to short term pollution. Short term pollution is caused when heavy rainfall washes faecal material into the sea from livestock, sewage and urban drainage via rivers and streams.  At this site the risk of encountering reduced water quality increases after rainfall and typically returns to normal after 1-3 days. The Environment Agency makes daily pollution risk forecasts based on rainfall patterns and will issue a pollution risk warning if heavy rainfall occurs to enable bathers to avoid periods of increased risk. \nThe Environment Agency works to reduce the sources of this pollution through pollution prevention measures, work with agriculture and water companies.\n12 warnings advising against swimming due to an increase risk of short term pollution were issued in 2016 for Kimmeridge Bay bathing water. These warnings were issued because of the effects of heavy rain on the water quality.", "_lang" : "en"}
                , "pollutionRiskForecasting" : {"_value" : "true", "_datatype" : "boolean"}
                , "samplingFrequency" : 5, "seasonFinishDate" : {"_value" : "2017-09-30", "_datatype" : "date"}
                , "seasonInterval" : "http://reference.data.gov.uk/id/gregorian-interval/2017-05-01T00:00:00/P152DT23H59M59S", "seasonStartDate" : {"_value" : "2017-05-01", "_datatype" : "date"}
                , "signAlgaeStatement" : {"_value" : "This bathing water beach often has patches of seaweed (macroalgae) and the bathing water can be affected by occasional blooms of phytoplankton (microscopic algae) which are not harmful, but can result in the water appearing discoloured or as foam forming on the water.", "_lang" : "en"}
                , "signPRFSummary" : {"_value" : "This bathing water is subject to short term pollution. The Environment Agency makes daily pollution risk forecasts based on rainfall patterns. A pollution risk warning is issued if heavy rainfall occurs to enable bathers to avoid periods when bathing water quality may be reduced. This may last between 1-3 days. Last year warnings were issued on 12 days.", "_lang" : "en"}
                , "signPollutionSourcesStatement" : {"_value" : "Kimmeridge Bay bathing water quality is influenced by the Kimmeridge New Barn stream and the Kimmeridge stream, and may reduce during or after periods of heavy rainfall due to run off from agricultural land and urban areas.", "_lang" : "en"}
                , "source" : "http://environment.data.gov.uk/sources/bwq/eaew/input/ea_profile_proposal_with_signage_v2-2018-02-12_10-33-42_669-0255.csv#row=0135", "standardLanguageCollection" : "http://environment.data.gov.uk/data/bathing-water-profile-standard-language/2017-19900:1", "streamsRiversStatement" : {"_value" : "Streams and rivers are typically affected by human sewage, animal slurry and runoff from roads. Two small streams enter the sea at Kimmeridge Bay. The Kimmeridge Stream enters the sea very close to the bathing water monitoring point. The Environment Agency has monitored water quality in these streams since 1994 and found that water quality in both watercourses deteriorates following heavy rainfall.", "_lang" : "en"}
                , "type" : ["http://environment.data.gov.uk/def/bathing-water-profile/BathingWaterProfile"], "versionString" : "1", "visiblePollutionStatement" : {"_value" : "Environment Agency samplers make observations of litter present on the beach at every visit, this includes assessments of sewage debris, litter and tar. At Kimmeridge Bay for the four year (2013-2016) assessment period where data is available, sewage debris was not noted at this site. Litter was not assessed as being sufficient to be objectionable, but was observed as being present on 84% of visits. Tarry residue was not noted at this site.", "_lang" : "en"}
                , "webResImage" : "http://environment.data.gov.uk/media/image/bathing-water-profile/ukk2204-19900_1-webres.jpg", "workingWithFarmersStatement" : {"_value" : "During and after periods of heavy rainfall, runoff from agricultural areas is greatly increased, and the quality of the bathing water may be adversely affected. The Environment Agency are working with farmers to encourage better farming practices and improve water quality in the surrounding areas.", "_lang" : "en"}
                , "zoiDescription" : {"_value" : "The catchment surrounding Kimmeridge Bay is approximately 310 hectares. There are two streams which enter the sea at Kimmeridge Bay. The Kimmeridge Stream is approximately 1.2 kilometres long and flows from the village of Kimmeridge through farmland to the beach. The Kimmeridge New Barn Stream is approximately two kilometres long and flows across the eastern side of the catchment entering the sea at the eastern end of the bay. The catchment is mostly agricultural with two farms.", "_lang" : "en"}
              }
              , "latestRiskPrediction" : {"_about" : "http://environment.data.gov.uk/data/bathing-water-quality/stp-risk-prediction/point/19900/date/20171006-144034", "comment" : {"_value" : "No water quality warning issued", "_lang" : "en"}
                , "dataset" : ["http://environment.data.gov.uk/data/bathing-water-quality/eaew/stp-risk-prediction", "http://environment.data.gov.uk/data/bathing-water-quality/stp-risk-prediction"], "expiresAt" : {"_value" : "2017-10-07T08:29:00", "_datatype" : "dateTime"}
                , "predictedAt" : {"_value" : "2017-10-06T08:30:00", "_datatype" : "dateTime"}
                , "predictedOn" : {"_value" : "2017-10-06", "_datatype" : "date"}
                , "publishedAt" : {"_value" : "2017-10-06T14:40:34", "_datatype" : "dateTime"}
                , "riskLevel" : {"_about" : "http://environment.data.gov.uk/def/bwq-stp/normal", "name" : {"_value" : "normal", "_lang" : "en"}
                }
                , "source" : "http://environment.data.gov.uk/sources/bwq/eaew/input/forecasts-publishTesting-2017-10-06_14-40-34_772-0584.csv#row=0063", "stp_bathingWater" : "http://environment.data.gov.uk/id/bathing-water/ukk2204-19900", "stp_samplingPoint" : {"_about" : "http://location.data.gov.uk/so/ef/SamplingPoint/bwsp.eaew/19900", "easting" : 390798.0, "lat" : 50.6114938804878, "long" : -2.13142387605586, "name" : {"_value" : "Sampling point at Kimmeridge Bay", "_lang" : "en"}
                  , "northing" : 79094.0}
                , "type" : ["http://environment.data.gov.uk/def/bwq-stp/RiskPrediction"]}
              , "latestSampleAssessment" : {"_about" : "http://environment.data.gov.uk/data/bathing-water-quality/in-season/sample/point/19900/date/20160922/time/134100/recordDate/20160922", "escherichiaColiCount" : 10, "intestinalEnterococciCount" : 10, "sampleDateTime" : {"_about" : "http://reference.data.gov.uk/id/gregorian-instant/2016-09-22T13:41:00", "inXSDDateTime" : {"_value" : "2016-09-22T13:41:00", "_datatype" : "dateTime"}
                }
                , "sampleYear" : {"_about" : "http://reference.data.gov.uk/id/year/2016", "ordinalYear" : 2016}
              }
              , "name" : {"_value" : "Kimmeridge Bay", "_lang" : "en"}
              , "regionalOrganization" : {"_about" : "http://reference.data.gov.uk/id/public-body/environment-agency/unit/south-west-south-west-office", "name" : {"_value" : "South West", "_lang" : "en"}
              }
              , "sameAs" : "http://environment.data.gov.uk/id/bathing-water/kimmeridge-bay", "samplingPoint" : {"_about" : "http://location.data.gov.uk/so/ef/SamplingPoint/bwsp.eaew/19900", "easting" : 390798.0, "lat" : 50.6114938804878, "long" : -2.13142387605586, "name" : {"_value" : "Sampling point at Kimmeridge Bay", "_lang" : "en"}
                , "northing" : 79094.0}
              , "sedimentTypesPresent" : ["http://environment.data.gov.uk/def/bathing-water/rock-sediment", "http://environment.data.gov.uk/def/bathing-water/sand-sediment"], "type" : ["http://environment.data.gov.uk/def/bathing-water/BathingWater", "http://environment.data.gov.uk/def/bathing-water/CoastalBathingWater"], "uriSet" : {"_about" : "http://environment.data.gov.uk/id/bathing-water/", "label" : [{"_value" : "Bathing waters monitored by the Environment Agency for England and Wales.", "_lang" : "en"}
                ]}
              , "waterQualityImpactedByHeavyRain" : true, "yearDesignated" : "http://reference.data.gov.uk/id/year/1988", "zoneOfInfluence" : {"_about" : "http://location.data.gov.uk/so/ef/ZoneOfInfluence/bwzoi.eaew/ukk2204-19900:1", "name" : {"_value" : "Zone of influence at Kimmeridge Bay", "_lang" : "en"}
              }
            }
            , "type" : ["http://purl.org/linked-data/api/vocab#ItemEndpoint", "http://purl.org/linked-data/api/vocab#Page"]}
        }
  recorded_at: Tue, 27 Feb 2018 17:41:08 GMT
- request:
    method: get
    uri: http://ea-rbwd-staging.epimorphics.net/doc/bathing-water?_pageSize=600&_properties=latestSampleAssessment.sampleDateTime.inXSDDateTime,latestSampleAssessment.sampleYear.ordinalYear,latestSampleAssessment.escherichiaColiCount.*,latestSampleAssessment.intestinalEnterococciCount.*,latestProfile.*,latestComplianceAssessment.sampleYear.ordinalYear,latestRiskPrediction.*&_sort=name&latestProfile.controllerName=Purbeck
    body:
      encoding: US-ASCII
      string:[...]
