#development-container
  .row.head-title
    %h1 Clevedon Beach

  .row.head-designation
    .designation
      %img{:alt => "good water quality", :src => "https://environment.data.gov.uk/bwq/profiles/images/baignade-2-stars.png", :srcset => "https://environment.data.gov.uk/bwq/profiles/images/baignade-2-stars.svg"}/
  .row.row1
    .block.description
      %h2 Synopsis
      %p Clevedon Beach is on the Somerset coast overlooking the Bristol Channel. It is a sand and pebble beach, approximately 850 metres wide, backed by the promenade and the town. There is a marine lake at the beach which is filled by sea water on high tides.
    .block.prf
      %h2 Pollution Risk Forecast
      %p This bathing water is subject to short term pollution. Short term pollution is caused when heavy rainfall washes faecal material into the sea from livestock, sewage and urban drainage via rivers and streams. At this site the risk of encountering reduced water quality increases after rainfall and typically returns to normal after 1-3 days. The Environment Agency makes daily pollution risk forecasts based on rainfall patterns and will issue a pollution risk warning if heavy rainfall occurs to enable bathers to avoid periods of increased risk. The Environment Agency works to reduce the sources of this pollution through pollution prevention measures, work with agriculture and water companies. 24 warnings advising against swimming due to an increase risk of short term pollution were issued in 2016 for Clevedon Beach bathing water. These warnings were issued because of the effects of heavy rain on the water quality.
  .row.row2
    .block.qr
      %h2 Web
      %img{:src => "https://environment.data.gov.uk/bwq/profiles/images/qr/ukk1202-36000-250x250.png"}/
    .block.historical
      %h2 Historical classifications
      %span
        2017 classification
        %img.designations{:src => "https://environment.data.gov.uk/bwq/profiles/images/2-stars.png"}/
        good
      %span
        2016 classification
        %img.designations{:src => "https://environment.data.gov.uk/bwq/profiles/images/2-stars.png"}/
        good
      %span
        2015 classification
        %img.designations{:src => "https://environment.data.gov.uk/bwq/profiles/images/2-stars.png"}/
        good
      %span
        2014 classification
        %img.designations{:src => "https://environment.data.gov.uk/bwq/profiles/images/2-stars.png"}/
        good
    .block.map
      %h2 Sampling Point Location
      %img.classification{:src => "map.png"}/
  .row.foot
    .block.ea-logo
      %img{:src => "https://environment.data.gov.uk/bwq/profiles/images/logo/banner_logo-en.png", :srcset => "https://environment.data.gov.uk/bwq/profiles/images/logo/ea-logo-master-dark-plain.svg"}/
    .block.manager
      %img{:src => "https://www.totaralms.com/sites/default/files/logo/4815402-large_0.jpg"}/
      %h2 Bathing Water Manager
      %h3 Keris Peters
      %p keris.peters@somerset.gov.uk
