#development-container
  .row.head-title
    %h1
      = @view_state.bathing_water.name

  .row.head-designation
    .designation
      %img{:alt => "good water quality", :src => "https://environment.data.gov.uk/bwq/profiles/images/baignade-2-stars.png", :srcset => "https://environment.data.gov.uk/bwq/profiles/images/baignade-2-stars.svg"}/
  .row.row1
    .block.description
      %h2
        About
        = @view_state.bathing_water.name
      %p Bathing water quality is influenced by the Kirkham stream and may reduce during or after periods of heavy rainfall due to run off from the surrounding urban area, and occasional discharges from a storm overflow.
    .block.prf
      %h2 Pollution Risk Forecast
      %p This bathing water is subject to short term pollution. The Environment Agency makes daily pollution risk forecasts based on rainfall patterns. A pollution risk warning is issued if heavy rainfall occurs, enabling bathers to avoid periods when bathing water quality may be reduced. This can last between one and three days. In 2017 warnings were issued at this bathing water on XX days.
  .row.row2
    .block.qr
      %h2 More information
      %p
        The full details for this bathing water, its catchment, information on all potential pollution sources and how they are managed can be viewed on the Environment Agency website:
        %a{ href: 'http://bit.ly/2FsWuYe' }
          http://bit.ly/2FsWuYe
      %img.qrcode{:src => "http://environment.data.gov.uk/bwq/profiles/images/qr/ukk4200-24000-150x150.png"}/
    .block.historical
      %h2 Historical classifications
      %span
        2017 classification
        %img.designations{:src => "https://environment.data.gov.uk/bwq/profiles/images/2-stars.png"}/
        good
      %span
        2016 classification
        %img.designations{:src => "https://environment.data.gov.uk/bwq/profiles/images/2-stars.png"}/
        good
      %span
        2015 classification
        %img.designations{:src => "https://environment.data.gov.uk/bwq/profiles/images/2-stars.png"}/
        good
      %span
        2014 classification
        %img.designations{:src => "https://environment.data.gov.uk/bwq/profiles/images/2-stars.png"}/
        good
    .block.map
      %h2 Sampling Point Location
      %img.classification{:src => "map.png"}/
  .row.foot
    .block.manager
      %img{:src => "tc-logo-white.png"}/
      %p
        This beach is managed by Torbay Council
      %p
        Phone: 01803 207975
      %p
        Email: beaches@torbay.gov.uk
    .block.ea-logo
      %img{:src => "https://environment.data.gov.uk/bwq/profiles/images/logo/banner_logo-en.png", :srcset => "https://environment.data.gov.uk/bwq/profiles/images/logo/ea-logo-master-dark-plain.svg"}/
