.o-workflow-unit.o-workflow-unit__landing
  .o-grid-row
    .o-grid-column__two-thirds

      %h1.heading-large
        Create a bathing water sign
      %p.lede
        Use this application to create a sign for one or more bathing waters
        that you control.
      %p
        Your sign will comply with the requirements of the
        Bathing Water Regulations 2013, and must be displayed
        throughout the bathing water season.

      %p
        Once created, the sign can be downloaded in <code>.pdf</code>
        format to be printed.

      %p
        = link_to('Start now', root_path(design: true), class: 'button button-start')

      %p &nbsp;
      
      %h2.heading-small Help and feedback
      %p
        If you have any questions or comments about this application, please contact us
        at
        = mail_to('data.info@environment-agency.gov.uk', 'data.info@environment-agency.gov.uk', subject: 'Bathing water site-signage application')
