.o-page-container
  .o-grid-row
    .o-grid-column__two-thirds
      %h1.heading-large
        Preview and download

      %p
        See a preview of your sign below. You can also:
      %ul
        %li
          change from landscape orientation <i class='fa fa-picture-o'></i> to
          %a{href:'#'}
            portrait orientation <i class='fa fa-file-picture-o'></i>
        %li
          %a{ href: '#' }
            select a different bathing water
        %li
          %a{ href: '#' }
            change the bathing water manager details
        %li
          %a{ href: '#' }
            choose different sign options

      %p
        %a.button{ href: '#' }
          download pdf (A4 page)
        %a.button{ href: '#' }
          download pdf (A3 page)
