.o-workflow-unit.o-workflow-unit__signplus
  .o-grid-row
    .o-grid-column__two-thirds

      %h2.heading-medium
        Which type of sign do you want for #{@view_state.bathing_water.name}?

      %p.lede
        There are two variants to consider

  .o-grid-row
    .o-grid-column__half
      %h3.heading-small Complete sign
      %p
        Contains additional information that may be useful for bathing-water users
      %p
        =image_tag('bwq-sign-sample-full-400.png', alt: 'example of full bathing water sign')
      %p
        = link_to('Create complete sign', root_path(@view_state.with_query_params(signplus: 'complete')), class: 'button')

    .o-grid-column__half
      %h3.heading-small Simple sign
      %p
        Contains only the information required by regulation
      %p
        =image_tag('bwq-sign-sample-minimal-400.png', alt: 'example of minimal bathing water sign')
      %p
        = link_to('Create simple sign', root_path(@view_state.with_query_params(signplus: 'simple')), class: 'button')
