.o-page-container
  = render partial: 'interactive_configuration'
  = render partial: @view_state.next_workflow_step.to_s

- if @view_state.show_preview?
  = render partial: 'bathing_water_sign'

- if Rails.env.production?
  = render partial: 'google_tag_manager'
