$oneToRootTwoAspectRatio: 1 / 1.414;
$oneToRootTwoAspectRatioMargin: 1 - (1 / 1.414);
$oneToRootTwoAspectRatioMarginHalf: $oneToRootTwoAspectRatio / 2;

// row heights
$rowHeightHead: 25%;
$rowHeightAbout: 35%;
$rowHeightInfo: 27%;
$rowHeightFoot: 100% - ($rowHeightHead + $rowHeightAbout + $rowHeightInfo);

// apply border-box everywhere
*, *:before, *:after {
  box-sizing: border-box;
}

#development-container.c-sign-preview {
  margin: 0;
  border: 0;
  padding: 0;
  max-width: 100%;
}

@media screen {
  #development-container {
    font-size: 1.2vw;
    width: 100vw;
    height: 100vw;
  }

  @mixin c-sign-layout__common {
    background-color: white;
    border: 2px solid $black;
  }

  .c-sign-layout--landscape {
    width: 98vw;
    height: $oneToRootTwoAspectRatio * 98vw;
    margin: auto 1vw;
    @include c-sign-layout__common;
  }

  .c-sign-layout--portrait {
    height: 98vw;
    width: $oneToRootTwoAspectRatio * 98vw;
    margin: 1vw auto;
    @include c-sign-layout__common;
  }
}

.c-bwq-sign-final {
  #development-container {
    font-size: 12pt;
  }

  .c-sign-layout--landscape {
    height: 594pt;
    width: 842pt;
  }

  .c-sign-layout--portrait {
    width: 594pt;
    height: 842pt;
  }

  .c-content-row__info {
    font-size: 10pt;
  }
}

@mixin row {
  display: flex;
  flex-wrap: nowrap;
  align-items: stretch;
  padding: 0.5em 1em;
}

@mixin flexbox-fallback {
  // will be overridden in flexbox layout
  float: left;
}

.c-content-row__head {
  @include row;
  height: $rowHeightHead;
}

.c-content-row__about {
  @include row;
  height: $rowHeightAbout;
}

.c-content-row__info {
  @include row;
  height: $rowHeightInfo;
}

.c-content-row__foot {
  @include row;
  height: $rowHeightFoot;
}

// layout of content-units in a row

/* one block on a row of one blocks */
.o-content-unit__1-1 {
  max-height: 100%;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

/* one block on a row of one compact block */
.o-content-unit__1-1c {
  @extend .o-content-unit__1-1;
  width: 66%;
  text-align: left;
  padding: 1em;
}

/* row of two blocks */
.o-content-unit__1-2, .o-content-unit__2-2 {
  max-height: 100%;
  width: 50%;
  margin: 0;
  padding: 1em;
  @include flexbox-fallback;
}
.o-content-unit__1-2 { margin-right: 0.5em; }
.o-content-unit__2-2 { margin-left: 0.5em; }

/** row of three blocks */
.o-content-unit__1-3, .o-content-unit__3-3 {
  max-height: 100%;
  width: 40%;
  margin: 0;
  padding: 0;
  @include flexbox-fallback;
}
.o-content-unit__2-3 {
  max-height: 100%;
  width: 20%;
  margin: 0;
  padding: 0;
  @include flexbox-fallback;
}
.o-content-unit__1-3, .o-content-unit__2-3 { margin-right: 0.5em; }
.o-content-unit__2-3, .o-content-unit__3-3 { margin-left: 0.5em; }

.o-content-unit__box {
  border: 1px solid $grey-2;
  border-radius: 10px;
  height: 100%;
}

/** Content specific styling - header grid */
.c-content-header {
  display: grid;
  display: -ms-grid;
  grid-template-rows: 1fr 1fr;
  -ms-grid-rows: 1fr 1fr;
}

.c-sign-layout--landscape {
  .c-content-header {
    grid-template-columns: 1fr 1fr;
    -ms-grid-columns: 1fr 1fr;
  }

  .c-content-header__title {
    grid-column: 1 / span 2;
    grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    -ms-grid-row: 1;
  }

  .c-content-header__classification {
    grid-column: 2;
    grid-row: 2;
    -ms-grid-column: 2;
    -ms-grid-row: 2;
  }

  .c-content-header__monitoring {
    grid-column: 1;
    grid-row: 2;
    -ms-grid-column: 1;
    -ms-grid-row: 2;
  }

  .c-content-header__monitoring-only {
    grid-column: 1 / span 2;
    grid-row: 2;
    -ms-grid-column: 1;
    -ms-grid-row: 2;
    -ms-grid-column-span: 2;
  }
}

.c-sign-layout--portrait {
  .c-content-header {
    grid-template-columns: 1fr 1fr;
    -ms-grid-columns: 1fr 1fr;
  }

  .c-content-header__title {
    grid-column: 1 / span 2;
    grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    -ms-grid-row: 1;
  }

  .c-content-header__classification {
    grid-column: 2;
    grid-row: 1 / span 2;
    -ms-grid-column: 2;
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    align-self: end;
  }

  .c-content-header__monitoring {
    grid-column: 1;
    grid-row: 2;
    -ms-grid-column: 1;
    -ms-grid-row: 2;
  }
}

.c-content-header__monitoring {
  font-size: 2.5rem;

  &-only {
    font-size: 2.5rem;
  }
}

.c-content-header__classification {
  img {
    height: 11rem;
  }
}

.c-bwq-sign-final .c-content-header__classification {
  img {
    height: 75pt;
  }
}

.c-bwq-sign-final .c-sign-layout--landscape .c-content-header__classification {
  img {
    height: 10rem;
  }
}

.c-content-info__qr-code {
  display: inline;
  float: right;
}

.c-content-unit__compliance-history {
  display: grid;
  display: -ms-grid;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-columns: 1fr 1fr 1fr;
  margin-bottom: 1em;

  img {
    max-height: 1em;
  }

  li {
    -ms-grid-column: 1;
  }

  li + li {
    -ms-grid-column: 2;
  }

  li + li + li {
    -ms-grid-column: 3;
  }
}

.c-content-info__map {
  width: 100%;
  height: 90%;
  #map {
    width: 100%;
    height: 100%;
  }
}

.c-content-row__foot {
  padding-top: 0;

  .u-centered-block {
    display: flex;
    justify-content: center;
  }

  img {
    max-height: 3em;;
    margin-top: 0.5em;
  }
}

.c-content-foot__bwmgr-contact {
  font-size: 1em;
}

// titles
#development-container {
  h1 {
    font-size: 6rem;
    font-weight: bold;
  }

  h1.u-long-title {
    font-size: 4rem;
    font-weight: bold;
  }

  h2 {
    font-size: 1.7rem;
    font-weight: bold;
  }

  h2.u-long-title {
    font-weight: bold;
  }
}

.u-long-text p {
  font-size: 85%;
}

// GDS stylesheet fix
.multiple-choice [type=radio] + label::before {
  top: 2px;
  left: 2px;
}
